# --- Python / Flask ---
__pycache__/
*.py[cod]

# --- Virtuelle Umgebung ---
.venv/
venv/

# --- IDE & Editor ---
.idea/

# --- Secrets & DBs ---
.env
*.db
instance/
database/*.db

# --- Sonstiges ---
*.log
*.tmp
*.bak
*.swp
*.DS_Store
.cache/
